body {
    background-color: ;

}

aside {
    width:420px;
    float:left;
    padding-top:20px;
    background-color:#ffdb4d;
    box-shadow:1px 1px 1px 1px #a9a9a9;

}
img {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-family: "Agency FB";
    font-size: 60px;
    text-align: left;
    margin: 0em;
    margin-left: 20px;
}

h2 {
    font-family: "Agency FB";
    font-size: 54px;
    text-align: left;
    margin: 0em;
    margin-left: 20px;


}

h3 {
    font-family: "Agency FB";
    font-size: 24px;
    text-align: center;
    

}

h4 {
    font-family: "Segoe UI Light";
    margin: 0px;
    text-align: center;
    font-size:18px;

}

h5 {


}

p {
    font-family: "Segoe UI";
    margin-left: 10px;
    text-align: center;
    font-size: 18px;
}

li {
    font-family: "Segoe UI";
    margin-left: 10px;
    text-align: center  ;

}

.img-circle {
    border-radius: 50%;
}

section {
    margin-left: 440px;
    background-color: #ffffff;
    box-shadow:1px 1px 1px 1px #a9a9a9;
    padding-top: 20px";

}

footer {
    background-color: darkgrey;
    float: center;

}

.clear_fix {
    clear:both;
}